### 1、导入三方库

In [4]:
import numpy as np
import pandas as pd

### 2、通过Series函数创建对象

In [5]:
s = pd.Series([1, 3, 4, np.nan, 6, 8])
s

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

### 3、通过DataFrame创建对象

In [7]:
dates = pd.date_range("20130101", periods=6) # 创建时间列表，参数1为起始日期，参数2为列表元素数量
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.198160  0.660857 -0.122421 -0.332646
2013-01-02  0.994801  0.117380  0.085585 -0.432281
2013-01-03 -0.395958  0.953713 -0.472531  0.230783
2013-01-04 -0.729467  0.072446 -0.616207 -0.247673
2013-01-05 -0.527766 -0.019511 -2.027707 -0.424626
2013-01-06  1.085490 -0.143765 -1.316341  0.342710